build-cache
mirror-cache
state
dist
dist-newstyle
tags
*.swp
.cabal-sandbox
.stack-work
cabal.sandbox.config
TAGS
datafiles/TUF/mirrors.json
datafiles/TUF/root.json
datafiles/TUF/snapshot.private
datafiles/TUF/timestamp.private
